[package]
name = "bin"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
axum = { workspace = true }
tokio = { workspace = true }
sqlx = { workspace = true }

db = { path = "../db" }
routers = { path = "../routers" }
common = { path = "../common" }
